[submodule "deps/imquic"]
	path = deps/imquic
	url = https://github.com/Arman17Babaei/imquic.git
	branch = imquic-l4s-prague
[submodule "deps/picoquic"]
	path = deps/picoquic
	url = https://github.com/Arman17Babaei/picoquic.git
	branch = prague-params
[submodule "deps/3dgs_over_moq"]
	path = deps/3dgs_over_moq
	url = https://github.com/Arman17Babaei/3dgs_over_moq.git
	branch = agent/sgss-wiewport-foundation
